---
# Deployment of our locust-service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: locust-service
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: locust-service
  replicas: 1
  template:
    metadata:
      labels:
        run: locust-service
    spec:
      containers:
        - name: locust-service
          image: keptnsandbox/locust-service:0.1.0
          ports:
            - containerPort: 8080
          env:
            - name: CONFIGURATION_SERVICE
              value: 'http://configuration-service:8080'
        - name: distributor
          image: keptn/distributor:0.8.0
          livenessProbe:
            httpGet:
              path: /health
              port: 10999
            initialDelaySeconds: 5
            periodSeconds: 5
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "16Mi"
              cpu: "25m"
            limits:
              memory: "32Mi"
              cpu: "250m"
          env:
            - name: PUBSUB_URL
              value: 'nats://keptn-nats-cluster'
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.event.test.triggered'
            - name: PUBSUB_RECIPIENT
              value: '127.0.0.1'
      serviceAccountName: keptn-locust-service
---
# Expose locust-service via Port 8080 within the cluster
apiVersion: v1
kind: Service
metadata:
  name: locust-service
  namespace: keptn
  labels:
    run: locust-service
spec:
  ports:
    - port: 8080
      protocol: TCP
  selector:
    run: locust-service
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keptn-locust-service
  namespace: keptn
---
# Role for accessing secrets in the namespace
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keptn-locust-service-read-secrets
  namespace: keptn
rules:
  - apiGroups:
      - ""
    resources:
      - "secrets"
    verbs:
      - "get"
---
# Bind role for accessing secrets onto the locust service account
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keptn-locust-service-read-secrets
  namespace: keptn
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keptn-locust-service-read-secrets
subjects:
  - kind: ServiceAccount
    name: keptn-locust-service
    namespace: keptn